*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('/Log_in_page/image/Asset\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px;
  background-position: left;
  background-color: rgb(206, 229, 229);
}
.hole_cont{
  background-color: #f1f7fe;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
h1{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}
.text1{
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.form{
 
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
input{
  display: block;
  width: 100%;
  height: 60px;
 
  border-style: none;
  margin-bottom: 3px;
  font-size: 20px;
  padding-left: 10px;
}

.fname{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.phone{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
input::placeholder{
  padding-left: 3px;
}
button{
  background-color: rgb(126, 126, 225);
  width: 230px;
  margin-left: 4px;
  margin-top: 10px;
  height: 40px;
  border-style: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.foot{
  background-color: #c0d0e3;
  display: inline-block;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.foot p{
  display: inline-block;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  
}
.hole_log{
  background-color: #f1f7fe;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.log_name{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.log_pass{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.input-box{
  position: relative;
  display: inline-block;
}
.input-box i{
  position: absolute;
    top: 50%;
    left: 216px;
    transform: translateY(-50%);
    color: #aaa;
}
